/* App.css */
.app {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.photo {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.info {
  text-align: left;
}
